#-----------BASC Client Configuration------------
#this is an example file, replace with BascClient.config
#------------------------------------------------
#optional, a space delimited set of requested permissions. For example: accounts=ro balance=ro transactions=ro
scope=
#
#mandatory, this parameter must be set to "authorization_code"
grant_type=authorization_code
#
#mandatory, username of your figo account
username=
#
#mandatory, password of your figo account
password=
#
#mandatory, your client identifier obtained during application registration
client_id=
#
#mandatory, your client security obtained during application registration
client_secret=
#
#mandatory, thr url to receive the access token. For example: https://api.figo.me/auth/code
authentication_server_url=https://api.figo.me/auth/code
#------------------------------------------------