#-----------BASC Client Configuration------------
#this is an example file, replace with BascClient.config
#------------------------------------------------
scope=
grant_type=password
username=
password=
client_id=
client_secret=
#access_token=
#refresh_token=
authentication_server_url=
#------------------------------------------------